* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  transition: background 0.3s ease-in;
}
a {
  text-decoration: none;
  color: #fff;
}
nav {
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  margin-left: 15px;
  align-items: center;
  gap: 10px;
  font-size: 1.25em;
}
nav ul li {
  padding: 10px;
}
nav ul li:hover {
  background: black;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px 40px;
}

.turn-parent {
  width: 80px;
  height: 30px;
  background: rgb(113, 113, 187);
  margin-right: 20px;
  border-radius: 15px;
  transition: 2s;
  position: relative;
}
.turn-icon {
  width: 35px;
  height: 100%;
  background: blue;
  border-radius: 50%;
  transition: 1s right ease-in;
}
.turn-icon:hover {
  cursor: pointer;
}
.on {
  position: absolute;
  right: 0;
  top: 0;
  background: grey;
}
.off {
  position: absolute;
  left: 0;
  top: 0;
  background: whitesmoke;
}
.dark {
  color: #fff;
  background: black;
}
.light {
  color: #000; /* Dark text color */
  background: #fff; /* White background color */
}

.light nav {
  background:rgba(0, 0, 0, 0.5);
  color: #000;
}

.light nav ul li:hover {
  background: #666; /* Light background on link hover */
  color: #333; /* Dark text color on link hover */
}

.light .turn-icon {
  background: #3498db; /* Blue color for the turn icon */
}

.light .on {
  background: #333; /* Dark color for the on state */
}

.light .off {
  background: #ecf0f1; /* Light color for the off state */
}
.dark {
  color: #fff; /* Light text color */
  background: #1a1a1a; /* Dark background color */
}

.dark nav {
  background: blue /* Slightly transparent dark background for the navbar */
  color: #fff; /* Light text color for the navbar */
}

.dark nav ul li:hover {
  background: #333; /* Dark background on link hover */
  color: #fff; /* Light text color on link hover */
}

.dark .turn-icon {
  background: #3498db; /* Blue color for the turn icon in dark mode */
}

.dark .on {
  background: #666; /* Slightly lighter dark color for the on state in dark mode */
}

.dark .off {
  background: #2c3e50; /* Dark color for the off state in dark mode */
} 
